<?xml version="1.0"?>
<!--
  ZPay Payment Gateway

  @category ZPay
  @package ZPay\Standard
  @author Tiago Sampaio <tiago@tiagosampaio.com>
  @link https://github.com/tiagosampaio
  @link https://tiagosampaio.com

  Copyright (c) 2019.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="zpay_standard_register_new_order" instance="\ZPay\Standard\Observer\RegisterNewOrder" />
    </event>
</config>
