<?xml version="1.0"?>
<!--
  ZPay Payment Gateway

  @category ZPay
  @package ZPay\Standard
  @author Tiago Sampaio <tiago@tiagosampaio.com>
  @link https://github.com/tiagosampaio
  @link https://tiagosampaio.com

  Copyright (c) 2019.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="zpay" frontName="zpay">
            <module name="ZPay_Standard" />
        </route>
    </router>
</config>
