<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="zpay_standard" frontName="zpay_standard">
            <module name="ZPay_Standard" before="Magento_Backend" />
        </route>
    </router>
</config>
