<?xml version="1.0"?>
<!--
/**
 * @author Tiago Sampaio <tiago@tiagosampaio.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="zpay_standard" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[ZPay&nbsp;<i>Accept and process payments with BitCoin.</i>]]></label>
                <fieldset_css>complex zpay-standard-header-section</fieldset_css>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="active" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Whether this method is enabled or not.</comment>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>ZPay\Standard\Model\Config\Source\Environment</source_model>
                    <frontend_class>zpay-environment</frontend_class>
                    <comment>Choose the environment: Sandbox or Production mode.</comment>
                </field>
                <field id="username" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ZPay Username</label>
                    <frontend_class>zpay-username</frontend_class>
                    <comment>Your ZPay's account username.</comment>
                </field>
                <field id="password" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ZPay Password</label>
                    <frontend_class>zpay-password</frontend_class>
                    <comment>Your ZPay's account password.</comment>
                </field>
                <field id="contract_id" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ZPay Contract ID</label>
                    <frontend_class>zpay-contract-id</frontend_class>
                    <comment>Your ZPay's account contract ID.</comment>
                </field>
                <field id="validate_credentials" translate="label" type="button" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>ZPay\Standard\Block\System\Config\Credentials\ValidateCredentials</frontend_model>
                    <comment>Click in the button to validate your credentials.</comment>
                </field>
                <field id="success_page_message" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Page Message</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="logs_enabled" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Logs Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled every request will be logged in Magento's log directory. If your application is in production you probably want this option deactivated.</comment>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
